<!-- Footer -->
<footer class="bg-anthracite text-blanc py-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center">
      <div>
        <h3 class="text-3xl font-bold">CASSANDRA</h3>
        <p class="text-xl">Autonomous. Intelligent. Immersive.</p>
        <p>Built for the GCPU Hackathon 2024/2025</p>
      </div>
      <div class="text-right">
        <a
          href="https://github.com/cassandra-stack"
          class="text-bleu-glacier hover:underline"
          >github.com/cassandra-stack</a
        >
        <p class="mt-2">
          © 2025 Cassandra Project | Transforming Medical Imaging
        </p>
      </div>
    </div>
  </div>
</footer>
